body{
    background-color: rgba(95, 204, 204, 0.7);
}

img{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: red;
    text-align: center;
    font-size: 200%;
}